
<div class="author">
    <h1 class="author_heading" Hi Welcome to blog page></h1>
    <p class="author_body">READ INTRESING BLOG HERE</p>
</div>

<img src="/img/blogs.jpeg" alt="blog"class="blog-image" width="581" height="328">

<section class="articles"> 
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a jref="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>